.nav{
    background-color:brown;
}
a{
    text-decoration: none;
    padding: 1%;
    margin: 10px;
    display: inline-block;
    color:white;
   
}
a:hover{
    background-color: black;
} 
.form{
    background-color:aliceblue;
    margin-left:40%;
    margin-right:40%;
}
2